* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: lato;
  src: url(../Lato-Regular.ttf);
}
i:hover {
  color: #d02c30;
  cursor: pointer;
}
li {
  list-style: none;
}
/* navbar */
.collapse {
  display: flex;
  margin: 10px;
}
.navbar {
  border-bottom: 2px solid #d02c30;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}
.navbar-nav {
  margin-left: auto;
  font-family: lato;
  font-size: 1.1rem;
}

.nav-link {
  color: #fff !important;
  margin-right: 30px;
}
.nav-link:hover {
  color: #d02c30 !important;
}
.navbar-brand {
  margin-left: 40px;
}
.bg {
  background: #000 !important;
}
.p-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #000;
  border-bottom: 1px solid #279e68;
  color: #279e68;

  height: 30px;
  font-size: 1.2rem;
}
.p-nav span {
  color: #d02c30;
}
.p-nav p {
  font-family: lato;
  font-weight: 600;
  margin-bottom: 0px !important;
}
.p-nav li {
  list-style: none;
}
.redes-menu ul {
  display: flex;
  margin-top: 10px;
}
.redes-menu ul li a {
  color: #fff;
}
.redes-menu ul li a:hover {
  color: #d02c30;
}
.info {
  margin-left: 20px;
}
.redes-menu ul li i {
  padding-left: 10px;
  margin-right: 20px;
}
.orcamento a {
  font-family: lato;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
  margin-left: 10px;
  letter-spacing: 1px;
  background: #2ad469;
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
}
.orcamento a:hover {
  color: #fff !important;
 
}
.orcamento:hover{
  transform: scale(1.1)!important;
}
/* media navbar */
@media (max-width: 767px) {
  .p-nav {
    display: none;
  }
  .navbar-nav {
    margin-left: 0px;
  }
}
/* header */

.capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.carousel-item {
  font-family: lato;

  height: 450px;
}
.text-header {
  margin-left: 20px;
}
.header2 h1{
 position: absolute;

top:190px!important;
left:  100px!important;
}
.header2 h3{
  position: absolute;
 
 top:120px;
 left:  100px!important;
 }

.text-header h1 {
  position: absolute;
  font-size: 2..4rem;
  text-transform: uppercase;
  color: #fff;
  max-width: 600px;
  /* margin-top: 80px; */
top:140px;
right: 1px;
}
.text-header h3 {
  position: absolute;
  font-style: italic;
font-size: 1.2rem!important;
  top:260px;
  right: 200px;
  max-width: 400px;
  color: #fff;

  margin-bottom: 200px;
}
.btn-header {
  font-style: italic;
  font-size: 1.5rem;
  padding: 10px 55px;
  text-decoration: none;
  margin-left: 0px;
  border: 4px solid #af956a;
  color: #af956a;
}
.btn-header:hover {
  color: #af956a;
  font-size: 1.8rem;
}
/* carrousel */
.carousel-inner {
  background: #ffff;
  width: 100%;;
}
.carousel-item {
  transition: transform 0.5s !important;
  margin-top: -10px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
 
}

.img-header {
  display: flex;
  width: 100%;
}
.img-foto {
 
  width:100%;
}
.foto1 {
  background: url(/img/header1.png) no-repeat center center;
  background-size: cover;
}
.foto2 {
  background: url(/img/header2.png) no-repeat center center;
  background-size: cover;
}
.foto3 {
  background: url(/img/header3.png) no-repeat center center;
  background-size: cover;
}
.sr-only {
  font-weight: 500;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  color: #bca464;
  font-weight: bold;
  opacity: 1;
}
.carousel-indicators li {
  background-color: #bca464;
}

/* cta */
.cta-whatapp {
  background: #d02c30;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
}
.cta-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-item h1 {
  color: #fff;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .cta-whatapp {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .cta-whatapp h1 {
    font-size: 1rem;
  }
  .titulo-valores,
  .bpo h1 {
    font-size: 1.8rem !important;
  }
  .skew-c {
    display: none;
  }
}

/* missão */
.skew-cc {
  width: 100%;
  height: 100px;
  margin-top: 40px;
  left: 0px;
  background: linear-gradient(to right bottom, #d02c30 49%, #fff 50%),
    linear-gradient(-50deg, #ffffff 16px, #000 0);
}
.skew-c {
  width: 100%;
  height: 100px;

  left: 0px;

  background: linear-gradient(to left bottom, #fff 49%, #d02c30 50%);
}
.titulo-valores {
  font-size: 2rem;
  text-transform: uppercase;
  color: #d02c30;
  border-left: 10px solid #279e68;
  padding-left: 15px;
  margin: 20px;
}
.warpper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  margin: 60px auto;
  font-family: lato;
}
.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #d02c30;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels {
  background: #fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height: 200px;
  width: 100%;
  max-width: 500px;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}
.panel {
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.panel-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #d02c30;
}
.radio {
  display: none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
  display: block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
  background: #fffffff6;
  color: #d02c30;
  border-top: 3px solid #d02c30;
}

@media (max-width: 767px) {
  .bpo {
    flex-wrap: wrap;
  }
}
/* bpo */
.bpo {
  display: flex;

  justify-content: space-around;
  align-items: flex-start;
}
.bpo-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
}
.bpo-item {
  margin: 40px;
}
.bpo-item li a {
  text-decoration: none;
  margin-left: 20px;
}
.bpo-item li {
  display: flex;
}
.bpo-item p {
  font-family: lato;
  color: #111;
  font-size: 1rem;
}
.bpo-item i {
  color: #d02c30;
  font-size: 2rem;
}
.bpo h1 {
  font-size: 3rem;
  color: #279e68;
  margin: 40px;
  max-width: 500px;
}
.bpo span {
  color: #d02c30;
}
/* footer */
.contact-area img {
  max-width: 100%;
  height: auto;
}
.contact-area section {
  padding: 60px 0;
  /* min-height: 100vh;*/
}
.contact-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-area {
  border-bottom: 1px solid #353c46;
  height: 100%;
}

.contact-content p {
  font-size: 15px;
  margin: 30px 0 60px;
  position: relative;
}

.contact-content p::after {
  background: #353c46;
  bottom: -30px;
  content: '';
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}

.contact-content h6 {
  color: #8b9199;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-content span {
  color: #353c47;
  margin: 0 10px;
}

.contact-social {
  margin-top: 30px;
}

.contact-social > ul {
  display: inline-flex;
}

.contact-social ul li a {
  border: 1px solid #8b9199;
  color: #8b9199;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
}

.contact-social ul li a:hover {
  border: 1px solid #d02c30;
  color: #d02c30;
}

.contact-content img {
  max-width: 210px;
}

section,
footer {
  background: #000;
  color: #868c96;
}

footer p {
  letter-spacing: 0.1rem;
  text-align: center;
}
footer span {
  color: #d02c30;
}
footer a {
  text-decoration: none;
  color: #e96111;
}
footer a:hover {
  color: #fff;
}

footer img {
  width: 44px;
}

.social {
  margin-left: -15px;
}
.container-fluid {
  background: linear-gradient(0deg, #fff, 50%, #deeefe);
  font-family: 'Rubik', sans-serif;
  background: #000;
  height: 100 !important;
}

.container-fluid {
  overflow: hidden;
  margin-top: 250px;

  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}
.container-fluid i {
  color: #fff;
}
small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.bold-text {
  color: #989c9e !important;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}
.social i:hover {
  transform: scale(1.1);
  color: #d02c30;
}
.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

/* Quem somos */
/*********************** Demo - 1 *******************/
.card-service {
  width: 30% !important;
}
.box1 img,
.box1:after,
.box1:before {
  width: 100%;
  transition: all 0.3s ease 0s;
}

.box1 .icon,
.box2,
.box3,
.box4,
.box5 .icon li a {
  text-align: center;
}

.box10:after,
.box10:before,
.box1:after,
.box1:before,
.box2 .inner-content:after,
.box3:after,
.box3:before,
.box4:before,
.box5:after,
.box5:before,
.box6:after,
.box7:after,
.box7:before {
  content: '';
}

.box1,
.box11,
.box12,
.box13,
.box14,
.box16,
.box17,
.box18,
.box2,
.box20,
.box21,
.box3,
.box4,
.box5,
.box5 .icon li a,
.box6,
.box7,
.box8 {
  overflow: hidden;
}

.box1 .title,
.box10 .title,
.box4 .title,
.box7 .title {
  letter-spacing: 1px;
}

.box3 .post,
.box4 .post,
.box5 .post,
.box7 .post {
  font-style: italic;
}
.box1 .icon,
.box1 .title {
  margin: 0;
  position: absolute;
}

.box1 {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: relative;
}

.box1:after,
.box1:before {
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform-origin: 100% 0;
  transform: rotateZ(90deg);
}

.box1:after {
  top: auto;
  bottom: 0;
  transform-origin: 0 100%;
}

.box1:hover:after,
.box1:hover:before {
  transform: rotateZ(0);
}

.box1 img {
  height: auto;
  transform: scale(1) rotate(0);
}

.box1:hover img {
  filter: sepia(80%);
  transform: scale(1.3) rotate(10deg);
}

.box1 .title {
  font-size: 1.1rem !important;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 1px #004cbf;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  z-index: 2;
  transform: scale(0);
  transition: all 0.5s ease 0.2s;
}

.box1:hover .title {
  opacity: 1;
  transform: scale(1);
}

.box1 .icon {
  padding: 0px 5px;
  list-style: none;
  background: #d02c30;
  border-radius: 0 0 0 10px;
  top: 100%;
  right: 0;
  z-index: 2;
  transition: all 0.3s ease 0.2s;
}

.box1:hover .icon {
  top: 0;
}

.box1 .icon li {
  display: block;
  margin: 4px 0;
}

.box1 .icon li a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.box2 .icon li a,
.box3 .icon a:hover,
.box4 .icon li a:hover,
.box5 .icon li a,
.box6 .icon li a {
  border-radius: 50%;
}

.box1 .icon li a:hover {
  color: #fff;
  box-shadow: 0 0 10px #000 inset, 0 0 0 3px #fff;
}

@media only screen and (max-width: 990px) {
  .box1 {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 990px) {
  .box21 {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 479px) {
  .box21 .box-content {
    padding-top: 0;
  }
}
@media only screen and (max-width: 359px) {
  .box21 .title {
    padding-bottom: 10px;
  }
}

.service-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f9f9f9;
  margin: 0 auto;
  height: 60%;
  padding-bottom: 20px !important;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}
.service-text p {
  text-align: justify;
  font-family: lato;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 100%;
  padding: 0px 30px 0px 30px;
}
.service-text h1 {
  color: #d02c30;
  font-size: 1.2rem;
  margin: 15px;
}
.btn-service a {
  font-family: lato;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
  margin-left: 10px;

  letter-spacing: 1px;
  background: #2ad469;
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
}

.btn-service:hover {
  transform: scale(1.1);
}
.btn-service a:hover {
  color: #fff;
}
.row {
  margin: 0px !important;
}
.container-service {
  margin-bottom: 100px;
  margin-left: 100px;
}
.pdf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #efefef;
  margin: 70px auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.pdf h1 {
  font-size: 1.8rem;
  color: #d02c30;
}
.pdf a {
  font-size: 1.8rem;
  color: #279e68;
  border-bottom: 2px solid #279e68;
  text-decoration: none;
}
.pdf a:hover {
  color: #279e68;
  transform: scale(1.1);
}
.titulo-service {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #d02c30;
  border-left: 10px solid #279e68;
  padding-left: 15px;
  margin: 60px;
}

@media (max-width: 767px) {
  .card-service {
    display: flex;
    flex-direction: column;
  }
}
/* serviço */
.servico {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-servico {
  width: 250px;
  height: 250px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0px;
  margin: 200px auto;
  background: url('https://i.pinimg.com/564x/6f/5a/b1/6f5ab1b470beeeeaf285bb451c63ac8f.jpg');
  background-color: black;
  background-size: cover;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
}
.servico-text {
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.container-servico h1 {
  color: #d02c30;
  text-align: center;
  font-size: 1.4rem;
  margin: 15px;
}
.container-servico p {
  font-size: 1rem;
  margin: 15px;
}
.overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  background: rgba(77, 77, 77, 0.9);
  color: #fef5df;
  opacity: 0;
  transition: all 0.5s;
  font-family: 'Playfair Display', serif;
}

.items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  font-size: 30px;
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
}
.head hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 2px #fef5df;
  position: absolute;
  bottom: 0;
  left: 20px;
  transition: all 0.5s;
}

.price {
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
}
.price .old {
  text-decoration: line-through;
  color: #b3b3b3;
}

.cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
}
.cart i {
  font-size: 16px;
}
.cart span {
  margin-left: 10px;
}

.container-servico:hover .overlay {
  opacity: 1;
}
.container-servico:hover .overlay .head {
  transform: translateY(0px);
}
.container-servico:hover .overlay hr {
  width: 75px;
  transition-delay: 0.4s;
}
.container-servico:hover .overlay .price {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}
.container-servico:hover .overlay .cart {
  transform: translateY(0px);
  transition-delay: 0.6s;
  opacity: 1;
}
/* beneficios */

.container-beneficios {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.Box {
  background-color: #000;
  position: relative;
  width: 220px;
  min-height: 350px;
  /* transform-style: preserve-3d; */
  perspective: 800px;
  transition: 1s;
  margin: 5px;
}
.Box .FlipBox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: 1s;
  transform-style: preserve-3d;
  /* box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3); */
}

.Box .Front,
.Box .Back {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
  backface-visibility: hidden;
}
.Box .Front img {
  width: 30%;
  height: 30%;
}
.Box .Front h1 {
  font-family: lato;
  color: #d02c30;
  text-align: center;
  font-size: 1.4rem !important;
}
.Box .Back {
  /* background-color: #fff; */
  color: #fff;
  display: table;
  transform: rotateY(180deg);
}
.Box .Back div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 20px;
}
.Box .Back div h3 {
  font-size: 0.9rem !important;
  color: #d02c30;
}
.Box .Back div p {
  font-size: 0.8rem !important;
  text-align: justify-all;
  letter-spacing: 0.1em;
  padding: 0px 10px;
}
.Box .Back div a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  width: 120px;
  height: 45px;
  background-color: #fff;
  color: #222;
  line-height: 45px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  font-weight: bold;
}
.Box .Back div a:hover {
  background-color: #000;
  color: #fff;
}
.Box:hover .FlipBox {
  transform: rotateY(180deg);
}
.Box:hover {
  transform: translateY(-30px);
  z-index: 2;
}
@media (max-width: 780px) {
  .Box:not(:last-child):hover {
    transform: translateY(0px);
    z-index: 2;
  }
}
@media (max-width: 520px) {
  .Box:hover {
    transform: translateY(0px);
    z-index: 2;
  }
}
@media (max-width: 255px) {
  .Box {
    width: 100%;
  }
}

/* sobre */
.sobre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  -webkit-box-shadow: 9px 9px 2px 3px #d02c30;
  box-shadow: 9px 9px 2px 3px #d02c30;
  margin: 60px auto;
}
.titulo-sobre {
  font-size: 2rem;
  text-transform: uppercase;
  color: #d02c30;
  margin: 60px;
  border-left: 10px solid #279e68;
  padding-left: 15px;
}
.sobre-item {
  margin: 60px;
}
.sobre p {
  width: 400px;
}
.sobre-text p {
  font-family: lato;
  text-align: justify;
  width: 80%;
  margin: 20px auto;
}
.reason {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reason img {
  width: 80%;
  height: 500px;
}
.reason p {
  text-align: justify;
  padding: 30px;
  background: #fff;
  margin-top: -50px;
  border: 5px solid #279e68;
  width: 700px;
}
@media (max-width: 767px) {
  .sobre {
    flex-direction: column;
  }
  .sobre p,
  .reason p {
    width: 90%;
  }
  .reason img {
    width: 90%;
    height: 500px;
  }
}


/* contato */
.social {
  text-align: center;

}

.contact-wrapper{
  display: flex;
  justify-content: center;
 flex-direction: column;
  align-items: center;
}
.contact-wrapper h1{
  color: #279e68;
}
.contact-wrapper h2{
  font-size: 1.2rem;
  font-style: italic;
}
.contato-titulo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contacto {
 
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
  padding-bottom: 200px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 300 60px 'Oswald', sans-serif;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
  border-radius: 50px;
  background: #333;
  box-shadow:  5px 5px 20px #222,
               -5px -5px 30px #111;
  padding: 10px 70px 10px 80px ;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  align-items:center;
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
  margin:0 auto;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 600px;
  float: right;
 margin:0 auto;

}

/* Location, Phone, Email Section */
.contact-list {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  list-style-type: none;

}

.list-item {
  line-height: 3;
  color: #aaa;

}
.list-item i{
  font-size:19px;
}

.contact-text {
  font: 400 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  line-height:1.25;
  color: #bbb;
  float:right;
  position:absolute;
}

.place {
  margin-left: 32px;
}

.phone {
  
  margin-left: 36px;
}

.gmail {
  margin-left: 33px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #111;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.8); ;
}

/* Begin Media Queries*/
/* @media screen and (max-width: 760px) {
    #contact {
        height: 1000px;
    } */
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 350px;
  }  
  .contact-text{
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px;
    }
  .section-header{
    font-size: 50px;
  }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  
  .name, .email, textarea {
    width: 280px;
  } 
  .direct-contact-container {
    margin-top: 60px;
    max-width: 360px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
   transform: scale(0.8);
   margin-left:-35px;
  }
  .direct-contact-container {
    max-width: 300px;
  }  
}


/* servico */


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* DEFAULT STYLE */
:root {
  font-size: 16px;
  --card-img-height: 200px;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

.card {
  align-self: flex-start;
  position: relative;
  width: 325px;
  height: 100%;
  min-width: 275px;
  margin: 1.25rem 0.75rem;
  background: white;
  transition: all 300ms ease-in-out;
}
.card .card-img {
  visibility: hidden;
  width: 100%;
  height: var(--card-img-height);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card .card-img-hovered {
  --card-img-hovered-overlay: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  transition: all 350ms ease-in-out;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  position: absolute;
  height: var(--card-img-height);
  top: 0;
}
.card .card-info {
  position: relative;
  padding: 0.75rem 1.25rem;
  transition: all 200ms ease-in-out;
}
.card .card-info .card-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  transition: all 200ms ease-in-out;
}
.card .card-info .card-about .card-tag {
  width: 60px;
  max-width: 100px;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #505f79;
  color: #fff;
}
.card .card-info .card-about .card-tag.tag-news {
  background: #36b37e;
}
.card .card-info .card-about .card-tag.tag-deals {
  background: #ffab00;
}
.card .card-info .card-about .card-tag.tag-politics {
  width: 71px;
  background: #ff5630;
}
.card .card-info .card-title {
  z-index: 10;
  color:#d02c30;
  font-size: 1rem;
  text-transform: uppercase;
  padding-bottom: 0.75rem;
  transition: all 350ms ease-in-out;
}
.card .card-info .card-creator {
  padding-bottom: 0.75rem;
  transition: all 250ms ease-in-out;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.07);
  transform: scale(1.025);
}
.card:hover .card-img-hovered {
  --card-img-hovered-overlay: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.65)
  );
  height: 100%;
}
.card:hover .card-about,
.card:hover .card-creator {
  opacity: 0;
}
.card:hover .card-info {
  background-color: transparent;
}
.card:hover .card-title {
  color: #ebecf0;
  transform: translate(0, 40px);
}

.card-1 .card-img,
.card-1 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(/img/pagar.png);
}

.card-2 .card-img,
.card-2 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(/img/receber.png);
}

.card-3 .card-img,
.card-3 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(/img/nfs.jpg);
}

.card-4 .card-img,
.card-4 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(/img/conciliacao.png);
}
.card-5 .card-img,
.card-5 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(/img/caixa.png);
}
.card-6 .card-img,
.card-6 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(/img/contabil.png);
}
.icon {
  position: absolute;
  bottom: 200px;
  left: 0px;
  background:#d02c30;
  border-bottom-right-radius: 5px;
  
  padding: 2px;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;

}
.card:hover .icon{
  opacity: 1;
  transition: .9s;
  transform: scale(1,1);
}
.icon i{
  padding: 5px;;
  font-size: 1.5rem!important;
  color: #fff;
 
}
@media (max-width:767px){
  .pdf h1,.pdf a {
    font-size: 1.2rem;
    text-align: center;
  }
}